.div-akino {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.article-akino {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.header-akino{
    display: flex;              
    align-items: center;        
    justify-content: flex-start; 
    position: fixed;
    top: 10px; /* Se posiciona al borde superior */
    left: 10px; /* Se posiciona al borde izquierdo */
    width: 50px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la relación de aspecto del logo */
    color: black;
}

.header-akino h1 {
    font-size: 3rem; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    margin: 0; /* Elimina el margen por defecto del título */
    margin-right: 4rem;
}

.logo {
    width: 80px;     /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;    /* Mantiene la relación de aspecto de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.button-back {
    background-color: transparent; /* Fondo transparente */
    backdrop-filter:blur(30px);    /* Filtro de desenfoque */
    border: 2px solid black;
    border-radius: 30px;        /* Borde sólido */
    font-size: 16px;                /* Tamaño de fuente */
    font-weight: bold;              /* Hace que el texto sea en negrita */
    cursor: pointer;               /* Cambia el cursor a pointer para indicar que es clickeable */
    transition: color 0.3s ease;    /* Transición suave para el color */
    padding: 10px 10px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave para el color de fondo */
}

.button-back:hover {
    background-color: #007bff; /* Cambia el color del texto al pasar el cursor por encima */
    transform: scale(1.05);    /* Aumenta el tamaño del botón al pasar el cursor por encima */
}


.content-section {
    width: 100%; /* Ocupa todo el ancho */
    height: 100vh; /* Ocupa todo el alto */
    background-image: url('../assets/drug_awareness.png');
    background-size: cover; /* Asegura que la imagen cubra el área */
    background-position: center; /* Centra la imagen */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    overflow: auto;
}

.snoop-dog-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 100px;
}

.snoop-dog {
    width: 150px;
    height: 400px; /* Mantiene la relación de aspecto */
    margin-left: 40px;
    margin-right: 40px;
}

.question-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-container h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option-button {
    background-color: #2ecc71;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-button:hover {
    background-color: #27ae60;
}

.warning-container {
    display: flex; /* Usamos flexbox para alinear el ícono y el texto */
    justify-content: flex-start;
    align-items: center; /* Centra el ícono y el texto verticalmente */
    background-color: #fff3cd; /* Color de fondo amarillo para advertencia */
    border: 1px solid #ffeeba; /* Borde del recuadro, color amarillo claro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 15px; /* Espaciado dentro del recuadro */
}

.warning-icon {
    width: 30px; /* Tamaño del ícono */
    height: 30px; /* Tamaño del ícono */
    margin-right: 15px; /* Espacio entre el ícono y el texto */
}

.warning-container p {
    font-size: 14px; /* Tamaño de texto */
    color: #856404; /* Color del texto (tono marrón para la advertencia) */
    margin: 0; /* Elimina el margen por defecto del párrafo */
}

.loading-gif {
    background-color: transparent; /* Fondo transparente */
    width: 50px; /* Tamaño de la imagen */
    height: 50px; /* Tamaño de la imagen */
}

.adiction-image {
    width: 200px;
    height: 200px;
}