
.Wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: green;
}

article { 
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: top;
    color: white;
    padding-bottom: 300px;
}

h1 {
    text-align: center;
    color: white;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
label {
    font-size: 20px;
    display: grid;
    grid-template-columns: 6fr 8fr;
}

label p {
    margin: 0;
    padding: 10px;
    color: white;
    text-align: right;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 350px;
}

button {
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    max-width: 500px;
    max-height: 300px;
    min-width: 200px;
    min-height: 50px;       
  }

  button:hover {
    background-color: #3700b3;
  }